.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  background-color: white;
  padding: 32px;
  width: 640px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 28px;
  color: #333;
}

.modal-top-section {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 36px;
}

.modal-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-right {
  flex: 2;
}

.profile-image,
.license-image {
  width: 180px;
  height: 180px;
  object-fit: contain;
  border-radius: 12px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.modal-right p {
  margin: 12px 0;
  font-size: 17px;
  color: #222;
}

.modal-right strong {
  font-weight: 600;
  margin-right: 5px;
}

.license-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.license-section p {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}



.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

.modal-approve {
  padding: 12px 36px;
  font-size: 17px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.modal-approve:hover {
  background-color: #3367d6;
}
